extends layout

block content
    header
      h1 מיני פרוייקט במדעי הרוח הדיגיטליים
      p
        span.little-title מטרת הפרוייקט
        br
        br
        span.little-text
          | פרוייקט זה הוקם על מנת להראות קשר בין אירועים במדינת ישראל לבין הצעות חוק העולות במשכן הכנסת בחלוף השנים. בצד ימין ניתן לראות את האירועים, ובצד שמאל את הצעות החוק.
          br
          br
          | פרוייקט זה קודם והוכן ע"י &nbsp;
          span.font-bold אלכס ל. ואסף ע.  &nbsp;
          | במסגרת קורס "מדעי הרוח הדיגיטליים", בהנחייתה של ד"ר יעל נצר. סמסטר א' 2017.
      p
        span.little-title מאחורי הקלעים
        br
        br
        span.little-text
          | האתר כתוב בשפת JavaScript ורץ על שרת Node.js
          | כאשר כלל הצעות הכנסת, והאירועים שקרו במדינת ישראל בשנה הרלוונטית נשמרים במסד נתונים מסוג MongoDB.
          |הנתונים נלקחו מאתר&nbsp;
          a(href="https://oknesset.org", target="_blank") כנסת פתוחה
          |   ומאתר ויקיפדיה.
        br
        br
        |  האתר מבוסס על קוד פתוח ולכן אם ברצונכם לתרום, להוסיף, לשפר ולהעיר - הינכם מוזמנים לעשות זאת.
      p
        span.little-title מדעי הרוח הדיגיטליים
        br
        br
        span.little-text
          | מדעי הרוח הדיגיטליים (באנגלית: Digital Humanities) הם שדה מחקר, הוראה ויצירה, המצוי בממשק שבין מחשוב לבין תחומי מדעי הרוח השונים. מטרתם של מדעי הרוח הדיגיטליים היא להרחיב ואף להגדיר מחדש את המחקר המסורתי במדעי הרוח, על ידי שימוש בשיטות ובכלים דיגיטליים.
    section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src='images/icon-calendar.png', alt='Year Calendar')
        .cd-timeline-content
          h2 שנת 2017
          p
            | כלל ההצעות החוק שהועלו בשנת 2017, והאירועים המשפיעים שקרו בשנה זו.
          a.cd-read-more(href='/year/2017?stage=0') תסקיר מלא
      .cd-timeline-block-right
        .cd-timeline-img.cd-movie
          img(src='images/icon-calendar.png', alt='Year Calendar')
        .cd-timeline-content
          h2 שנת 2016
          p
            | כלל ההצעות החוק שהועלו בשנת 2016, והאירועים המשפיעים שקרו בשנה זו.
          a.cd-read-more(href='/year/2016?stage=0') תסקיר מלא

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src='images/icon-calendar.png', alt='Year Calendar')
        .cd-timeline-content
          h2 שנת 2015
          p
            | כלל ההצעות החוק שהועלו בשנת 2015, והאירועים המשפיעים שקרו בשנה זו.
          a.cd-read-more(href='/year/2015?stage=0') תסקיר מלא
      .cd-timeline-block-right
        .cd-timeline-img.cd-movie
          img(src='images/icon-calendar.png', alt='Year Calendar')
        .cd-timeline-content
          h2 שנת 2014
          p
            | כלל ההצעות החוק שהועלו בשנת 2014, והאירועים המשפיעים שקרו בשנה זו.
          a.cd-read-more(href='/year/2014?stage=0') תסקיר מלא
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src='images/icon-calendar.png', alt='Year Calendar')
        .cd-timeline-content
          h2 שנת 2013
          p
            | כלל ההצעות החוק שהועלו בשנת 2013, והאירועים המשפיעים שקרו בשנה זו.
          a.cd-read-more(href='/year/2013?stage=0') תסקיר מלא
      .cd-timeline-block-right
        .cd-timeline-img.cd-movie
          img(src='images/icon-calendar.png', alt='Year Calendar')
        .cd-timeline-content
          h2 שנת 2012
          p
            | כלל ההצעות החוק שהועלו בשנת 2012, והאירועים המשפיעים שקרו בשנה זו.
          a.cd-read-more(href='/year/2012?stage=0') תסקיר מלא
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src='images/icon-calendar.png', alt='Year Calendar')
        .cd-timeline-content
          h2 שנת 2011
          p
            | כלל ההצעות החוק שהועלו בשנת 2011, והאירועים המשפיעים שקרו בשנה זו.
          a.cd-read-more(href='/year/2011?stage=0') תסקיר מלא
      .cd-timeline-block-right
        .cd-timeline-img.cd-movie
          img(src='images/icon-calendar.png', alt='Year Calendar')
        .cd-timeline-content
          h2 שנת 2010
          p
            | כלל ההצעות החוק שהועלו בשנת 2010, והאירועים המשפיעים שקרו בשנה זו.
          a.cd-read-more(href='/year/2010?stage=0') תסקיר מלא



script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script(src='javascripts/main.js')
script(src='javascripts/modernizr.js')

    // Resource jQuery
